.container{
    padding: 6rem;
    text-transform: uppercase;
    background-color: rgb(213, 235, 216);
    margin: 0;
    box-shadow: 0 2px 10px black;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
}
form>input{
    width: 100%;
    background-color: aliceblue;
    padding: .70rem;
}
h1{
    text-align:center;
}
#sb{
    transition: all .3s ease;
    cursor: pointer;
    
    background-color: rgb(165, 233, 196);
    border-radius: 4px;
    padding: .70rem;  
}
#sb:hover{
    background-color: rgb(45, 177, 104);
    color: white;

}

